@model EAFProject.ViewModels.LoginCredentials

@{
    ViewBag.Title = "LoginError";
}
@if (Model.role == null || Model.role == "")
{
    <label class="w3-label w3-validate">Invalid Login ID</label>
}
else
{
}